:root {
  font-family: "Inter", sans-serif;
  background: none;
}

body,
html {
  font-family: "Inter", sans-serif;
  min-height: 100%;
  background: var(--color-base-200);
  margin: 0;
}

.soft-light {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  opacity: 0.25;
  pointer-events: none;
  background: 
    radial-gradient(circle at 10% 85%,var(--color-secondary) 0%,transparent 60%),
    radial-gradient(circle at 80% 15%, var(--color-primary) 0%, transparent 50%),
    radial-gradient(circle at 45% 45%, var(--color-primary) 0%, transparent 65%);
}

.navbar{
    background: none;
    min-height: 72px;
}

#logout:hover{
  background-color: var(--color-error);
}